# Auto detect text files and perform LF normalization
* text=auto eol=lf

# Explicit text
*.md text eol=lf
*.txt text eol=lf
*.html text eol=lf
*.css text eol=lf
*.js text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
.editorconfig text eol=lf
.gitattributes text eol=lf

# 💡 ここをJavaScript（CSSやHTMLとの親和性も高い）に変更！
*.multiquiz text eol=lf linguist-language=JavaScript
*.mq        text eol=lf linguist-language=JavaScript

# Binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.woff binary
*.woff2 binary
*.ttf binary
*.eot binary
